DEBUG=1
SECRET_KEY=django-insecure-vu-9-i)--=v!gjp4dwb)blqb0ipx^e*4y%!_c*#s4(3z1*$xqt
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_HOST=db
POSTGRES_DB=kauyagan_dev
POSTGRES_USER=kauyagan
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
JWT_SECRET=changemejwt
API_V1_SUNSET=2026-12-31
